body {
	background: rgb(234,238,252);
	background: -moz-radial-gradient(circle, rgba(234,238,252,1) 0%, rgba(92,156,228,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(234,238,252,1) 0%, rgba(92,156,228,1) 100%);
	background: radial-gradient(circle, rgba(234,238,252,1) 0%, rgb(21, 28, 40) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeefc",endColorstr="#5c9ce4",GradientType=1);
}

@font-face {
    font-family: 'RocknRollOne';
    src: url('./font/RocknRollOne-Regular.ttf') format('truetype');
}


.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75vh;
	min-height: 500px;
	padding: 10px;
	margin-top: 50px;
}

.calculator {
	width: 400px;
	border: 2px var(--border) solid;
	border-radius: 15px;
	padding: 20px;
	background-color: #1c1c1c;
}

.screen {
	padding: 10px 20px;
	height: 80px;
	border: 6px solid black;
	border-radius: 12px;
	margin-bottom: 20px;
	background-color: #fff;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}

#lastOperationScreen {
	color: #484242;
	padding-bottom: 20px;
}

#currentOperationScreen {
	font-size: 32px;
}

.main-buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	background-color: #313131;
	padding: 10px;
	border-radius: 16px;
	border: solid black;
}

#equals {
	grid-column: span 3;
}

button#clear {
    background-color: #b75959;
}

.btn {
	padding: 16px;
	border: 2px var(--border) solid;
	border-radius: 5px;
	background-color: #969696;
	font-size: 20px;
	color: white;
}

#all-clear {
	background-color: #d0892e
}

button#equals {
    background-color: #76b380;
}

button#clear-digit {
    background-color: #cfa860;
}

h3#item-description {
	font-family: RocknRollOne;
	text-align: end;
	color: ghostwhite;
	background-color: #313131;
	border-radius: 10px;
	padding: 5px 10px;
	border: 2px solid black;
}

p {
	display: inline;
}

button.sign {
    background: #327da1;
}