.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75vh;
	min-height: 500px;
	padding: 10px;
	margin-top: 50px;
}

.calculator {
	width: 400px;
	border: 2px var(--border) solid;
	border-radius: 15px;
	padding: 20px;
	background-color: #484242;
}

.screen {
	padding: 30px 20px;
	border: 2px var(--border) solid;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #fff;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}

.main-buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

button#clear {
    background-color: #b75959;
}

.btn {
	padding: 16px;
	border: 2px var(--border) solid;
	border-radius: 5px;
	background-color: #969696;
	font-size: 20px;
	color: white;
}

button#subtract {
    grid-column: 2;
}
