body {
	background-color: black;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75vh;
	min-height: 500px;
	padding: 10px;
	margin-top: 50px;
}

.calculator {
	width: 400px;
	border: 2px var(--border) solid;
	border-radius: 15px;
	padding: 20px;
	background-color: #484242;
}

.screen {
	padding: 10px 20px;
	height: 80px;
	border: 2px var(--border) solid;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #fff;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}

#lastOperationScreen {
	color: #484242;
	padding-bottom: 20px;
}

#currentOperationScreen {
	font-size: 32px;
}

.main-buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	background-color: #313131; 
	padding: 10px; 
	border-radius: 16px
}

button#clear {
    background-color: #b75959;
}

.btn {
	padding: 16px;
	border: 2px var(--border) solid;
	border-radius: 5px;
	background-color: #969696;
	font-size: 20px;
	color: white;
}

button#equals {
    background-color: #76b380;
}

button#clear-digit {
    background-color: #cfa860;
}

h3#item-description {
    text-align: end;
    color: ghostwhite;
    background-color: #313131;
    border-radius: 10px;
    padding: 5px 10px;
}

button.sign {
    background: #327da1;
}